.noticias-more {
   font-size: 25px !important;
   position: absolute !important;
   right: -25px !important;
   top: -18px !important;
 }

 .colorTresPuntitos{    color: rgb(10, 198, 245) !important;}
